# Dependencies
/frontend/node_modules/
/backend/node_modules/

# Vite build output
/frontend/dist/

# Environment files
/backend/.env
backend/serviceAccountKey.json

# Log files
*.log

# OS-specific
.DS_Store