rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Only allow users to access files within their own restaurant's folder.
    match /documents/{restaurantId}/{allPaths=**} {
      function isMember() {
        return request.auth != null && request.auth.token.restaurantId == restaurantId;
      }
      // Anyone who is a member of the restaurant can upload.
      allow read, write: if isMember();
    }
  }
}