.highlight-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .highlight-tooltip button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }